<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Web site created using create-react-app" />
        <title>Vite React App</title>
        <style>
            body {
                background: #f8f9fb;
            }

            @media (prefers-color-scheme: dark) {
                html {
                    color-scheme: dark;
                }
                body {
                    background: #191919;
                }
            }
        </style>
    </head>
    <body>
        <div id="root"></div>
        <script type="module" src="/src/main.tsx"></script>
    </body>
</html>
