{
    "extends": ["eslint-config-yceffort/typescript"],
    "rules": {
        "react/react-in-jsx-scope": ["off"],
        // for nest server
        "no-useless-constructor": ["off"]
    },
    "env": {
        "jest": true
    }
}
